//using Pug, you don't need to close the tags 
doctype html
html
    head
        title="Hello Pug"
    body
    div.container.column.main#division(width="100",height="100")
    h2.greetings#people Hello World!
    //- script(src = "/static/main.js")
    <script src="/static/main.js" />
