//using Pug, you don't need to close the tags 
doctype html
html
    head
        title="Test static files"
    body
    	
    p Testing image from virtual path
    img(src="/static/testimage.jpg",alt="Testing the images")   	

    h4 Testing image
    img(src="/testing.jpg",alt="Testing the images")

